*{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

:root {
    --background: #FFFDF7;
    --white: #FFFFFF;
    --lightgreen: #E8F0E3;
    --camel: #EBE3D3;
    --sand: #F7F1EC;
    --darkgrey: #333333;
    --green: #497555;
    --light: #F6F5F0;
    --grey: #666666;
    --buttonlight: #565656;
    --black: #000000;

    /** CONFIGURATION BOOTSTRAP**/
    --bs-body-bg: var(--background);
    --bs-body-color: var(--darkgrey);
    --bs-emphasis-color: var(--black);
    --bs-primary: var(--green);
    --bs-primary-rgb: 73, 117, 85;
    --bs-secondary: var(--grey);
    --bs-secondary-rgb: 102, 102, 102;
    --bs-link-color: var(--darkgrey);
    --bs-link-hover-color: var(--black);
    --bs-border-color: var(--grey);

    /* --- SUPPRESSION DES ARRONDIS --- */
    --bs-border-radius: 0;
    --bs-border-radius-sm: 0;
    --bs-border-radius-lg: 0;
    --bs-border-radius-xl: 0;
    --bs-border-radius-2xl: 0;
    --bs-border-radius-pill: 0;
}

.btn-dark {
    --bs-btn-bg: var(--buttonlight);
    --bs-btn-border-color: var(--buttonlight);
    --bs-btn-hover-bg: var(--black);
    --bs-btn-hover-border-color: var(--black);
    --bs-btn-color: var(--white);
}

.btn-outline-dark {
    --bs-btn-color: var(--black);
    --bs-btn-border-color: var(--darkgrey);
    --bs-btn-hover-bg: var(--darkgrey);
    --bs-btn-hover-color: var(--background);
}

.btn,
.form-control,
.form-control-lg,
.card-img-top{
    border-radius: 0 !important;
}

.bg-lightgreen { background-color: var(--lightgreen) !important; }
.bg-camel { background-color: var(--camel) !important; }
.bg-sand { background-color: var(--sand) !important; }
.bg-light-custom { background-color: var(--light) !important; }
.bg-background { background-color: var(--background) !important; }

a{
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    max-width: 100vw;
    height: 100%;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex:1
}

.linkColor{
    color: var(--darkgrey);
}

.linkColor:hover{
    color: var(--darkgrey);
}

/** HOME **/

.heroHeader{
    display: flex;
}

.welcomeTitle{
    font-weight: 500;
}

.welcomeText{
    font-size: 18px;
}

.homeImg{
    width: 100%;
}

.card-title{
    font-size: 16px;
}

.beliefTitle{
    font-size: 20px;
    font-weight: 500;
}

.beliefText{
    font-weight: 300;
}

.beliefImg{
    display: flex;
    justify-content: flex-end;
}

.valuesTitle{
    font-size: 20px;
    font-weight: 500;
}

/** REGISTER / CONNECTION **/

.registerImg{
    width: 734px;
}

/** PRODUCT **/

.productSheet{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.productName{
    font-size: 20px;
    font-weight: 500;
}

.productPrice{
    font-size: 30px;
    font-weight: 300;
}

.detailsDescription{
    font-size: 10px;
    font-weight: 400;
}

/** CARD **/

.cartTitle,
.profileTitle{
    font-size: 20px;
    font-weight: 500;
}

.noCart{
    font-size: 16px;
    font-weight: 500;
}

.cartProductName{
    font-weight: 600;
}

.cartProductQuantity{
    font-weight: 400;
}

.cartProductPrice{
    font-size: 18px;
    font-weight: 500;
}

.cartButton{
    display: flex;
    justify-content: center;
}

.validateOrder{
    width: 29.5rem;
}

.totalPrice{
    font-size: 20px;
}

.deliveryCharges{
    font-size: 12px;
}

.ordersTitle,
.accessTitle{
    font-weight: 600;
}

.tableCell{
    font-weight: 500;
}

.tableLine{
    border-bottom: 1px solid var(--grey);
}

.tableLine:last-of-type{
    border-bottom: none;
}
